<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.invictus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="app.invictus.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="app.invictus.permission.C2D_MESSAGE" />

    <application
        android:name=".invictus.InvictusApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".invictus.InvictusSplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".invictus.InvictusMain"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".invictus.InvictusSettings"
            android:label="@string/title_activity_invictus_settings"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".invictus.InvictusNotes"
            android:label="@string/title_activity_invictus_notes"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".invictus.InvictusComment"
            android:label="@string/title_activity_invictus_comment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    </application>

</manifest>
